path{
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}
.x.axis line {
  stroke: rgba(128, 128, 128, 0.12);
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.gpm_path {
  fill: none;
  stroke: rgba(245, 146, 49, 1);
}
.xpm_path{
  stroke: rgba(62, 124, 71, 1);
}
#ind_hero_graph{
  width: 45%;
  height: 95%;
  margin-left: 5%;
  display: inline-block;
  padding-top: 4%; 
}
#ind_hero_stats_display{
  height: 30%;
  width: 100%;
  font-size: 1em !important;
  display: inline-block;
}
#ind_hero_stats_display .statistic .value , .label{
  font-size: 2.5em;
}
#ind_hero_stats_display .statistics{
  margin-top: 2%;
}