<div id="background-wrapper">
<!-- 
  <div class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">
      Add/Save Notes
    </div>
    <div class="image content">
      <div class="image">
        <i class="archive icon"></i>
      </div>
      <div class="description">
        <p>You can save save notes(using Add) till you want to submit(using Save).<br>P.S Saving notes is going to take a while, so please dont do anything while notes are veing saved.</p>
      </div>
    </div>
    <div class="actions">
      <div class="two fluid ui inverted buttons">
        <div class="ui red basic inverted button">
          <i class="remove icon"></i>
          No
        </div>
        <div class="ui green basic inverted button">
          <i class="checkmark icon"></i>
          Yes
        </div>
      </div>
    </div>
  </div> -->

  <div id="twitch_video_notes_container">
    <span id="twitch_video_player_notes_display"></span>
  </div>

</div>

<script type="text/javascript">
  
  $('.ui.basic.modal').modal('show');
  

</script>