<div id="users_show_seg1" class="ui segments container">
  <div id="users_show_seg1_menu" class="ui secondary pointing menu">
    <a class="active item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <a class="item">
      Friends
    </a>
    <div class="right menu">
      <button class="compact ui button">
        Update
      </button>
    </div>
  </div>
  <div class="ui segment two column grid">
    <div class="ui statistics column">
      <img id="users_show_seg1_profile_pic" class="ui tiny left floated image" src="/assets/semantic/elliot.jpg">
      <div class="statistic">
        <div class="value">
          Swap
        </div>
      </div>
    </div>
    <div class="column">

    </div>
  </div>
  <div class="ui segment">
    <div id="users_show_seg1_main" class="ui two column stackable very relaxed divided grid">
      <div class="column" id="chart">
      </div>
      <div id="users_show_seg1_main_feed" class="column">
        <div id="users_show_seg1_feed" class="ui feed">
          <div class="event">
            <div class="label">
              <img class="ui mini image" src="/assets/semantic/elliot.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Elliot Fu
                </a> added you as a friend
                <div class="date">
                  1 Hour Ago
                </div>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 4 Likes
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/assets/semantic/helen.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a>Helen Troy</a> added <a>2 new illustrations</a>
                <div class="date">
                  4 days ago
                </div>
              </div>
              <div class="extra images">
                <a><img src="/assets/semantic/image.png"></a>
                <a><img src="/assets/semantic/image.png"></a>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 1 Like
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/assets/semantic/jenny.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Jenny Hess
                </a> added you as a friend
                <div class="date">
                  2 Days Ago
                </div>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 8 Likes
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/assets/semantic/joe.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a>Joe Henderson</a> posted on his page
                <div class="date">
                  3 days ago
                </div>
              </div>
              <div class="extra text">
                Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 5 Likes
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img class="ui mini image" src="/assets/semantic/elliot.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Elliot Fu
                </a> added you as a friend
                <div class="date">
                  1 Hour Ago
                </div>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 4 Likes
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/assets/semantic/helen.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a>Helen Troy</a> added <a>2 new illustrations</a>
                <div class="date">
                  4 days ago
                </div>
              </div>
              <div class="extra images">
                <a><img src="/assets/semantic/image.png"></a>
                <a><img src="/assets/semantic/image.png"></a>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 1 Like
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/assets/semantic/jenny.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Jenny Hess
                </a> added you as a friend
                <div class="date">
                  2 Days Ago
                </div>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 8 Likes
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/assets/semantic/joe.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a>Joe Henderson</a> posted on his page
                <div class="date">
                  3 days ago
                </div>
              </div>
              <div class="extra text">
                Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 5 Likes
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui red card">
  <div class="extra content">
    <span class="right floated">
      Win    
    </span>
    <span>
      01/19 11:42 AM
    </span>
  </div>

  <a href="#match_overview" tabindex="0">
    <img class="image hero_potrait" value="match_232" style="opacity: 1;" src="https://d10bybrdwoa4y6.cloudfront.net/test/assets/hero_pics/gyrocopter.png">
  </a>

  <div id="items_container">
      <img class="item_icon" style="opacity: 1;" src="https://d10bybrdwoa4y6.cloudfront.net/test/assets/item_pics/helm_of_the_dominator_lg.png ">     
      <img class="item_icon" style="opacity: 1;" src="https://d10bybrdwoa4y6.cloudfront.net/test/assets/item_pics/phase_boots_lg.png ">
      <img class="item_icon" style="opacity: 1;" src="https://d10bybrdwoa4y6.cloudfront.net/test/assets/item_pics/ring_of_aquila_lg.png ">
      <img class="item_icon" style="opacity: 1;" src="https://d10bybrdwoa4y6.cloudfront.net/test/assets/item_pics/magic_wand_lg.png ">
      <img class="item_icon" style="opacity: 1;" src="https://d10bybrdwoa4y6.cloudfront.net/test/assets/item_pics/tpscroll_lg.png ">
      <img class="item_icon" style="opacity: 1;" src="https://d10bybrdwoa4y6.cloudfront.net/test/assets/item_pics/sange_and_yasha_lg.png ">
  </div>

  <div class="ui mini statistics">
    <div class="green statistic">
      <div class="value">
        1
      </div>
      <div class="label">
        Kills
      </div>
    </div>
    <div class="red statistic">
      <div class="value">
        1
      </div>
      <div class="label">
        Deaths
      </div>
    </div>
    <div class="yellow statistic">
      <div class="value">
        10
      </div>
      <div class="label">
        Assits
      </div>
    </div>
  </div>

</div>